* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary

environments/**/.env.dev filter=git-crypt diff=git-crypt
environments/**/.env.prod filter=git-crypt diff=git-crypt
environments/**/db.seeds.secrets.json filter=git-crypt diff=git-crypt
