{
  "vercel": {
    "token": "",
    "team_id": "team_TuCe5vyzHhXf3aId8h8CpFyP"
  },
  "vorinthex": {
    "url": "https://www.vorinthex.com",
    "vercel_project_id": "",
    "env": {
      "NODE_ENV": "production",
      "NEXT_PUBLIC_API_BASE_URL": "https://api.vorinthex.com",
      "NEXT_PUBLIC_SITE_URL": "https://www.vorinthex.com"
    }
  },
  "orbit": {
    "url": "https://orbit.vorinthex.com",
    "vercel_project_id": "",
    "env": {
      "NODE_ENV": "production",
      "NEXT_PUBLIC_API_BASE_URL": "https://api.vorinthex.com",
      "NEXT_PUBLIC_SITE_URL": "https://orbit.vorinthex.com"
    }
  },
  "hunt": {
    "url": "https://hunt.vorinthex.com",
    "vercel_project_id": "",
    "env": {
      "NODE_ENV": "production",
      "NEXT_PUBLIC_API_BASE_URL": "https://api.vorinthex.com",
      "NEXT_PUBLIC_SITE_URL": "https://hunt.vorinthex.com"
    }
  },
  "env": {
    "NODE_ENV": "production",
    "PORT": "3001"
  }
}
