{
  "vercel": {
    "token": "",
    "team_id": "team_TuCe5vyzHhXf3aId8h8CpFyP"
  },
  "vorinthex": {
    "url": "https://www.vorinthex.com",
    "vercel_project_id": ""
  },
  "orbit": {
    "url": "https://orbit.vorinthex.com",
    "vercel_project_id": ""
  },
  "env": {
    "NODE_ENV": "production"
  }
}
