http://vorinthex.com {
	redir https://vorinthex.com{uri} permanent
}

https://vorinthex.com {
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		-Server
	}
	@api path /api/v1 /api/v1/*
	handle @api {
		reverse_proxy app-blue:3001 {
			health_uri /api/v1/health
			health_interval 10s
			health_timeout 5s
		}
	}
}
